:root {
    --cor-fundo:black;
    --cor-principal: green;
    --cor-secundaria:red;
    --cor-destaque: skyblue;
    --cor-texto: white;
}


body {
    background-color: var(--cor-fundo);
    color: var(--cor-destaque);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    background-color: var(--color-destaque);
}